.btn {
    padding: 1rem;
    border-radius: .25rem;
}

.btnChallenge {
    background-color: rgba(255, 0, 0, .5);
}

.btnCelebrate {
    background-color: rgba(0, 128, 0, .5);
}

.btnSubmit {
    background-color: rgba(0, 0, 255, .5);
}

.card-detail-badge a {
    text-decoration: none;
}