body {
    margin: 2rem calc(.75rem + 1vw) .5rem calc(.75rem + 1vw);
}

section {
    margin: 1rem 0;
}

li {
    display: inline-block;
}

.btn {
    padding: 1rem;
    border-radius: .25rem;
}

.btnChallenge {
    background-color: rgb(245, 121, 58,.3);
}

.btnChallenge:hover, .btnChallenge.selected {
    background-color: rgb(245, 121, 58);
}

.btnCelebrate {
    background-color: rgba(169, 90, 161,.3);
}

.btnCelebrate:hover, .btnCelebrate.selected {
    background-color: rgb(169, 90, 161);
}

.btnSubmit {
    background-color: rgba(15, 32, 128, .7);
}

.btnSubmit:hover {
    background-color: rgba(15, 32, 128, .5);
}

.card-detail-badge a {
    text-decoration: none;
}